.MoreButton {
  padding: 2%;
  background-color: orange;
  border-radius: 4px 4px 4px 4px;
  margin-left: 35%;
  margin-top: 20px;
  font-size: 5vw;
}

.Title h3 {
  font-size: 3vh;
  margin: 0 auto;
}

.Character-Grid-Parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Character-Grid {
  display: flex;
  border: 1px solid #00f;
  border-radius: 15px;
  margin: 3%;
}

.Character-Grid-Alive {
  background-color: #0f0;
  border-radius: 15px;
}

.Character-Grid-Dead {
  background-color: #000;
  border-radius: 15px;
}

.Character-Grid-Unknown {
  background-color: #00f;
  border-radius: 15px;
}

.Character-Image {
  width: 40vw;
  border-radius: 15px;
}

.Character-Text {
  color: #f00;
  font-size: 3vw;
  padding: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}
