.App {
  display: grid;
  grid-template-rows: 100px auto 100px;
  color: #04b1c5;
  background-color: #111440;
  font-size: 2em;
}

.HeaderBox {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Top-Menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
