.App {
  display: grid;
  grid-template-rows: 20vh 60vh 20vh;
  color: #04b1c5;
  background-color: #111440;
  overflow-y: scroll;
}

.HeaderBox {
  margin-top: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Top-Menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
