.App {
  display: grid;
  grid-template-rows: 20vh 60vh 20vh;
  color: #04b1c5;
  background-color: #111440;
}

.HeaderBox {
  margin-top: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Top-Menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Main-Grid {
  grid-row: 2/3;
  overflow-y: scroll;
}
